<div class= "container">
<h2><%= @list.name %></h2>

<ul>
    <% @list.movies.each do |movie| %>

    <li>
    <%= movie.title%>
    
    <br/>
    <%= movie.bookmarks.last.comment%>
    <%= link_to "delete bookmark", bookmark_path(movie.bookmarks.first), method: :delete %>
    </li>
    <% end%>
</ul>

<%= link_to("Volver", lists_path)%>

<div>
<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :comment %>
<%= f.association :movie %>
<%= f.input :photo, as: :file %>
<%= f.submit "comentar", class: "btn btn-primary" %>


<%end%>

</div>
</div>